<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!-- Where are log files -->
    <property name="LOG_HOME" value="./log" />

    <!-- Output to Console -->
    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--%d:date，%thread:thread，%-5level：error/debug/info... %msg：message，%n:new line -->
<!--            <pattern>%thread-%d{yyyy-MM-dd HH:mm:ss.SSS} - %msg%n</pattern>-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%t]-> %m%n</pattern>
        </encoder>
    </appender>

    <!-- Output to File -->
    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/mylog.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>1000MB</maxFileSize>
            <MaxHistory>60</MaxHistory>
        </rollingPolicy>

        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--%d:date，%thread:thread，%-5level：error/debug/info... %msg：message，%n:new line -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} -%msg%n</pattern>
        </encoder>
    </appender>

    <!-- log level TRACE, DEBUG, INFO, WARN, ERROR, ALL and OFF,default：DEBUG。-->
    <root level="INFO">
        <appender-ref ref="STDOUT" /> <!-- show log on console -->
        <appender-ref ref="FILE" /> <!-- show log in file -->
    </root>
</configuration>